/Kenergy_1000.png
/Kenergy_1000_leapfrog.png
/Nbody
/Nbody_collision
/Nbody_leapfrog
/Penergy_1000.png
/Penergy_1000_leapfrog.png
/a.out
/energy_1000.txt
/energy_1000_collision.txt
/energy_1000_collision_1000step.txt
/energy_1000_leapfrog.txt
/energy_1000_leapfrog_cold.txt
/energy_1000_subplot.png
/energy_1000_subplot_cold.png
/energy_1000_subplot_cold_virial.png
/orbit.txt
/orbit_1000.txt
/orbit_1000_collision.txt
/orbit_1000_collision_1000step.txt
/orbit_1000_collision_1000step_animation.mp4
/orbit_1000_collision_animation.mp4
/orbit_1000_leapfrog.txt
/orbit_1000_leapfrog_cold.txt
/orbit_animation.mp4
/orbit_animation1000.mp4
/plummer_initial
/plummer_initial_position.txt
/venv